body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a,
footer span {
  font-size: 1.5rem;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: calc( 320px - 4rem);
}

.dirt {
  background-color: #3f3025;
  height: 100%;
}

#viewbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 568px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#viewbox .sky {
  background-color: #86bfee;
  height: 33vh;
  width: 100%;
}

#viewbox .pot .metal {
  position: relative;
  border-style: solid;
  border-width: 1rem;
  border-top: 0;
  height: 100px;
  max-width: 24rem;
  margin: auto;
  color: #bebebe;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.seed-keyframe {
  position: absolute;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

#seed #seed_1_ {
  fill: #004124;
}

#seed #seed_2_ {
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: #004124;
}

.port {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.roots path {
  fill: transparent;
}

#flower .animation {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#panels {
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: #ffd44a;
  stroke: #ff8c36;
}

#panels .panel {
  transform-box: fill-box;
  -webkit-animation-name: panelTwist;
          animation-name: panelTwist;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#arms {
  -webkit-transform-origin: center;
          transform-origin: center;
}

#arms .arm {
  stroke: #ff8c36;
}

.cell path {
  fill: #ffd44a;
  stroke: #ff8c36;
}

#center {
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: #3f3025;
}

#center .animation {
  -webkit-animation-name: centerTwist;
          animation-name: centerTwist;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes centerTwist {
  25% {
    -webkit-transform: rotateY(-5deg) rotateX(-5deg);
            transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(5deg) rotateX(-5deg);
            transform: rotateY(5deg) rotateX(-5deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes centerTwist {
  25% {
    -webkit-transform: rotateY(-5deg) rotateX(-5deg);
            transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(5deg) rotateX(-5deg);
            transform: rotateY(5deg) rotateX(-5deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@-webkit-keyframes panelTwist {
  25% {
    -webkit-transform: rotateY(-10deg) rotateX(-10deg);
            transform: rotateY(-10deg) rotateX(-10deg);
  }
  75% {
    -webkit-transform: rotateY(10deg) rotateX(-10deg);
            transform: rotateY(10deg) rotateX(-10deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes panelTwist {
  25% {
    -webkit-transform: rotateY(-10deg) rotateX(-10deg);
            transform: rotateY(-10deg) rotateX(-10deg);
  }
  75% {
    -webkit-transform: rotateY(10deg) rotateX(-10deg);
            transform: rotateY(10deg) rotateX(-10deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}
/*# sourceMappingURL=styles.css.map */