.scroll-space {
  height: 700vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: calc( 320px - 4rem);
}

.dirt {
  background-color: #3f3025;
  height: 100%;
}

#viewbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 568px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#viewbox .sky {
  background-color: #86bfee;
  height: 33vh;
  width: 100%;
}

#viewbox .pot .metal {
  position: relative;
  border-style: solid;
  border-width: 1rem;
  border-top: 0;
  height: 100px;
  max-width: 24rem;
  margin: auto;
  color: #bebebe;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.seed-keyframe {
  position: absolute;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.seed-stem {
  stroke: #c01714;
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: growRoot 50s infinite;
          animation: growRoot 50s infinite;
  animation-direction: reverse;
}

.seed {
  fill: #004124;
}

#seed_2_ {
  transform-box: fill-box;
  fill: #004124;
}

.port {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.roots {
  margin-top: 0.5rem;
  -webkit-animation-name: growRoot;
          animation-name: growRoot;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-box: fill-box;
  fill: transparent;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

#flower {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.panels {
  transform-box: fill-box;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-name: panelTwist;
          animation-name: panelTwist;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  fill: #ffd44a;
  stroke: #ff8c36;
}

#arms {
  -webkit-transform-origin: center;
          transform-origin: center;
}

#arms .arm {
  stroke: #ff8c36;
}

.cell path {
  fill: #ffd44a;
  stroke: #ff8c36;
}

#center {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: #3f3025;
}

#tesla_1_ {
  -webkit-filter: drop-shadow(10px 5px 5px red);
          filter: drop-shadow(10px 5px 5px red);
}

@-webkit-keyframes centerTwist {
  25% {
    -webkit-transform: rotateY(-5deg) rotateX(-5deg);
            transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(5deg) rotateX(-5deg);
            transform: rotateY(5deg) rotateX(-5deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes centerTwist {
  25% {
    -webkit-transform: rotateY(-5deg) rotateX(-5deg);
            transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    -webkit-transform: rotateY(5deg) rotateX(-5deg);
            transform: rotateY(5deg) rotateX(-5deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@-webkit-keyframes panelTwist {
  25% {
    -webkit-transform: rotateY(-10deg) rotateX(-10deg);
            transform: rotateY(-10deg) rotateX(-10deg);
  }
  75% {
    -webkit-transform: rotateY(10deg) rotateX(-10deg);
            transform: rotateY(10deg) rotateX(-10deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes panelTwist {
  25% {
    -webkit-transform: rotateY(-10deg) rotateX(-10deg);
            transform: rotateY(-10deg) rotateX(-10deg);
  }
  75% {
    -webkit-transform: rotateY(10deg) rotateX(-10deg);
            transform: rotateY(10deg) rotateX(-10deg);
  }
  to {
    -webkit-transform: initial;
            transform: initial;
  }
}
/*# sourceMappingURL=styles.css.map */