body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pot-metal {
  position: relative;
  border: 2rem solid;
  border-top: 0;
  height: 25vh;
  max-width: 24rem;
  margin: auto;
  color: silver;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.seed-viewport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  width: 100%;
  height: 10vh;
}

.sky {
  height: 100%;
  width: 100%;
  background-color: #86bfee;
}

.pot-dirt {
  height: 66vh;
  width: 100%;
  position: relative;
  -webkit-animation-name: shortenGround;
          animation-name: shortenGround;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.dirt {
  background-color: #2e2222;
  fill: #2e2222;
}

@-webkit-keyframes shortenGround {
  to {
    height: 10vh;
  }
}

@keyframes shortenGround {
  to {
    height: 10vh;
  }
}

.seed-keyframe {
  position: absolute;
  height: 568px;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.seed-keyframe svg {
  -webkit-transform: translateY(33vh);
          transform: translateY(33vh);
  -webkit-animation-name: growStem;
          animation-name: growStem;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes growStem {
  25% {
    -webkit-transform: translateY(33vh);
            transform: translateY(33vh);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes growStem {
  25% {
    -webkit-transform: translateY(33vh);
            transform: translateY(33vh);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.seed-stem {
  stroke: #be4646;
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: growRoot 5s infinite;
          animation: growRoot 5s infinite;
  animation-direction: reverse;
}

.port {
  -webkit-animation-name: openPort;
          animation-name: openPort;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes openPort {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes openPort {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.root {
  margin-top: 0.5rem;
  -webkit-animation-name: growRoot;
          animation-name: growRoot;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  fill: none;
  opacity: 0;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes growRoot {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 600;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes growRoot {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 600;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.water {
  border-color: #136dd4;
}

.water.root {
  stroke: #136dd4;
}

.power {
  border-color: #be4646;
}

.power.root {
  fill: #be4646;
}

.chlora {
  border-color: #8eda8e;
}

.chlora.root {
  fill: #8eda8e;
}
/*# sourceMappingURL=styles.css.map */