body {
  position: relative;
}

// Animations
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

$indicatorColor: hsl(0, 0%, 100%);

// The Scroll Link
#indicator {
  mix-blend-mode: overlay;
  opacity: 0.5;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 999;

  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;

  color: $indicatorColor;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;

  // The Mouse
  .mouse {
    position: relative;
    display: block;
    width: 2rem;
    height: 3rem;
    // margin: 0 auto 20px;

    box-sizing: border-box;
    border: 3px solid $indicatorColor;
    border-radius: 23px;

    // Scroll Indicator
    .mouse-movement {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: $indicatorColor;
      border-radius: 50%;

      animation: scroll-ani 4s linear infinite;
    }
  }

  // The Scroll Message
  .mouse-message {
    float: left;
    margin: -200px 0 0 7px;
    padding: 0;
    animation: scroll-ani 4s linear infinite;

    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 90%);
  }

  // shown on Hover of The Mouse
  &:hover {
    .mouse-message {
      margin-top: 0;
    }
  }
}
