$water: #009cdd;
$power: #c01714;
$chlora: #6a8433;
$solar: #fac141;

$seed: #004124;
$dirt: #3f3025;
$sky: #86bfee;

$total-timeline: 50s; //will use scrolling length

body {
  // background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pot-metal {
  position: relative;
  display: flex;
  justify-content: center;
  border: 2rem solid;
  border-top: 0;

  height: 100px;
  max-width: 24rem;
  margin: auto;

  color: silver;
  transform: translateY(-0.5rem);
}

.seed-viewport {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  min-height: 568px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sky {
  height: 100%;
  width: 100%;
  background-color: $sky;
}

.pot-dirt {
  position: relative;
  height: 268px;
  width: 100%;
  animation-name: shortenGround;
  animation-duration: $total-timeline;
  animation-iteration-count: infinite;
}
.dirt {
  background-color: $dirt;
  fill: $dirt;
}
@keyframes shortenGround {
  30% {
    height: 268px;
  }
  to {
    height: 100px;
  }
}

.seed-keyframe {
  position: absolute;
  // height: 568px;
  // width: 100%;
  bottom: 0;
  // left: 0;
  // right: 0;
  margin: auto;
  overflow: hidden;

  svg {
    width: 320px;
    height: 568px;
    transform: translateY(375px);
    animation-name: growStem;
    animation-duration: $total-timeline;
    animation-iteration-count: infinite;
    // height: 100px;
  }
}

@keyframes growStem {
  25% {
    transform: translateY(375px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.seed-stem {
  stroke: $power;
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: growRoot $total-timeline infinite;
  animation-direction: reverse;
}

.seed {
  fill: $seed;
}

.port {
  animation-name: openPort;
  animation-duration: $total-timeline;
  animation-iteration-count: infinite;

  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0);

  &.hole {
    fill: $dirt;
    stroke-width: 3;
  }

  &.water {
    stroke: $water;
  }
  &.power {
    stroke: $power;
  }
  &.chlora {
    stroke: $chlora;
  }
}

@keyframes openPort {
  10% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}

.root {
  margin-top: 0.5rem;

  animation-name: growRoot;
  // after ports open
  animation-duration: $total-timeline;
  animation-iteration-count: infinite;

  transform-origin: top center;

  fill: none;
  // stroke-linecap: round;
  opacity: 0;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;

  // transform: scale(1);
}

@keyframes growRoot {
  2% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    stroke-dashoffset: 600;
  }
  to {
    opacity: 1;
    stroke-width: 8;
    stroke-dashoffset: 0;
  }
}

.root {
  .water {
    border-color: $water;
    stroke: $water;
  }

  .chlora {
    border-color: $chlora;
    stroke: $chlora;
  }

  .power {
    border-color: $power;
    stroke: $power;
  }
}

.bloom {
  position: absolute;
  left: 0;
  top: -400px;

  width: 100%;
  height: auto;
}

.arm {
}

.petal {
  // display: none;
}
