$water: #009cdd;
$power: #c01714;
$chlora: #6a8433;
$solar: #ffd44a;
$orange: #ff8c36;

$seed: #004124;
$dirt: #3f3025;
$sky: #86bfee;

$total-timeline: 50s; //will use scrolling length

.scroll-space {
  height: 100vh * 7;
}

body {
  // background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: calc(
    320px - 4rem
  ); // how to keep svg from moving vertically when scaled
}

.dirt {
  background-color: $dirt;
  height: 100%;

  // fill: $dirt;
}

#viewbox {
  // display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  min-height: 568px;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .sky {
    background-color: $sky;
    height: 33vh;
    width: 100%;
  }

  .pot {
    // .dirt {
    // }

    .metal {
      position: relative;
      // display: flex;
      // justify-content: center;
      border-style: solid;
      border-width: 1rem;
      border-top: 0;

      height: 100px;
      max-width: 24rem;
      margin: auto;

      // overflow-y: hidden;
      // overflow-x: visible;

      color: rgb(190, 190, 190);
      transform: translateY(-0.5rem);
    }
  }
}

.seed-keyframe {
  position: absolute;
  // height: 568px;
  // width: 100%;
  bottom: 0;
  // left: 0;
  // right: 0;
  margin: auto;
  overflow: hidden;

  // svg {
  // width: 320px;
  // height: 568px;
  // transform: translateY(375px);
  // animation-name: growStem;
  // animation-duration: $total-timeline;
  // animation-iteration-count: infinite;
  // height: 100px;
  // }
}

.seed-stem {
  stroke: $power;
  stroke-width: 2;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: growRoot $total-timeline infinite;
  animation-direction: reverse;
}

.seed {
  fill: $seed;
}

#seed_2_ {
  transform-box: fill-box;
  fill: $seed;
}

.port {
  transform-box: fill-box;
  transform-origin: center;
}

.roots {
  margin-top: 0.5rem;

  animation-name: growRoot;
  // after ports open
  animation-duration: $total-timeline;
  animation-iteration-count: infinite;

  // transform-origin: top center;
  transform-box: fill-box;

  fill: transparent;
  // stroke-linecap: round;
  // opacity: 0;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;

  // transform: scale(1);
}

#flower {
  transform: scale(0);
  transform-box: fill-box;
  transform-origin: center;
}

.panels {
  transform: scale(0);
  transform-box: fill-box;
  transform-origin: center center;

  animation-name: panelTwist;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  fill: $solar;
  stroke: #ff8c36;
  // stroke-miterlimit: 1;
  // stroke-width: 1.333;
}

#arms {
  transform: scale(0);
  transform-box: fill-box;
  transform-origin: center;
  .arm {
    stroke: $orange;
  }
}

.cell {
  path {
    fill: $solar;
    stroke: $orange;
  }
}

#center {
  transform: scale(0);

  animation-name: centerTwist;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  transform-box: fill-box;
  transform-origin: center;
  fill: $dirt;
}

#tesla_1_ {
  // fill: $solar;
  // path {
  //   animation-name: centerTwist;
  //   animation-duration: 2s;
  //   animation-iteration-count: infinite;
  //   animation-direction: alternate;
  //   animation-fill-mode: both;
  // }

  filter: drop-shadow(10px 5px 5px red);
}

@keyframes centerTwist {
  25% {
    transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    transform: rotateY(5deg) rotateX(-5deg);
  }
  to {
    transform: initial;
  }
}

@keyframes panelTwist {
  25% {
    transform: rotateY(-10deg) rotateX(-10deg);
  }
  75% {
    transform: rotateY(10deg) rotateX(-10deg);
  }
  to {
    transform: initial;
  }
}
